{
  "openapi": "3.0.3",
  "info": {
    "contact": {
      "email": "support@skyflow.com",
      "name": "Skyflow",
      "url": "https://www.skyflow.com/"
    },
    "description": "This API controls aspects of your account and schema, including workspaces, vaults, keys, users, permissions, and more.\n\nThe Management API is available from two base URIs:\n\n- **Sandbox:** https://manage.skyflowapis-preview.com\n- **Production:** https://manage.skyflowapis.com\n\nWhen you make an API call, you need to add two headers:\n\n| Header | Value | Example |\n| --- | --- | --- |\n| Authorization | A Bearer Token. See [API Authentication](/docs/fundamentals/api-authentication). | `Authorization: Bearer eyJhbGciOiJSUzI...1NiIsJdfPA` |\n| X-Skyflow-Account-ID | Your Skyflow account ID. | `X-Skyflow-Account-ID: h451b763713e4424a7jke1bbkbbc84ef` |",
    "title": "Management API",
    "version": "2026.04",
    "license": {
      "name": "Proprietary",
      "url": "https://docs.skyflow.com"
    }
  },
  "servers": [
    {
      "url": "https://manage.skyflowapis.com",
      "description": "Production"
    },
    {
      "url": "https://manage.skyflowapis-preview.com",
      "description": "Sandbox"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "private",
      "description": "Management API"
    },
    {
      "name": "Accounts",
      "x-order": 1
    },
    {
      "name": "Audit",
      "x-order": 2
    },
    {
      "name": "Authentication",
      "x-order": 3
    },
    {
      "name": "Connections",
      "x-order": 5
    },
    {
      "name": "Data Types",
      "x-order": 6
    },
    {
      "name": "Detect Configurations",
      "x-order": 7
    },
    {
      "name": "Functions",
      "x-order": 8
    },
    {
      "name": "Key Management",
      "x-order": 9
    },
    {
      "name": "Roles",
      "x-order": 10
    },
    {
      "name": "Pipelines",
      "x-order": 11
    },
    {
      "name": "Policies",
      "x-order": 12
    },
    {
      "name": "Service Accounts",
      "x-order": 13
    },
    {
      "name": "Triggers",
      "x-order": 14
    },
    {
      "name": "Users",
      "x-order": 15
    },
    {
      "name": "Vault Templates",
      "x-order": 16
    },
    {
      "name": "Vaults",
      "x-order": 17
    },
    {
      "name": "Workspaces",
      "x-order": 18
    },
    {
      "name": "Webhooks",
      "x-order": 19
    }
  ],
  "externalDocs": {
    "description": "Guides, tutorials, and references for using Skyflow.",
    "url": "https://docs.skyflow.com/"
  },
  "paths": {
    "/v1/accounts": {
      "get": {
        "description": "Lists accounts that the user can access.",
        "operationId": "AccountService_ListAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "description": "Filter that limits returned accounts to those that include the specified email address.",
            "in": "query",
            "name": "userEmail",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter that limits returned accounts to those that include the specified name.",
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter that limits returned accounts to those that match the specified status.",
            "in": "query",
            "name": "status",
            "schema": {
              "default": "NONE",
              "enum": [
                "NONE",
                "CREATED",
                "PENDING",
                "ACTIVE",
                "INACTIVE",
                "ARCHIVED",
                "DELETED"
              ],
              "type": "string"
            }
          },
          {
            "description": "Record position at which to start retrieving accounts.",
            "in": "query",
            "name": "offset",
            "schema": {
              "default": "0",
              "format": "int64",
              "type": "string"
            }
          },
          {
            "description": "Number of accounts to retrieve.",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": "25",
              "format": "int64",
              "type": "string"
            }
          },
          {
            "description": "Filter that limits accounts to those that are children of the specified account ID.",
            "in": "query",
            "name": "accountID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ListAccountsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List Accounts",
        "tags": [
          "Accounts"
        ],
        "x-severity": 3
      }
    },
    "/v1/accounts/{ID}": {
      "get": {
        "description": "Returns an account.",
        "operationId": "AccountService_GetAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "description": "ID of the account.",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GetAccountResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Get Account",
        "tags": [
          "Accounts"
        ],
        "x-severity": 3
      },
      "patch": {
        "description": "Updates an account.",
        "operationId": "AccountService_UpdateAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "description": "ID of the account.",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountServiceUpdateAccountBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1UpdateAccountResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Update Account",
        "tags": [
          "Accounts"
        ],
        "x-severity": 3,
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/accounts/{accountID}/pipelines/encryptionKeys": {
      "get": {
        "description": "Gets public encryption keys for the specified account.",
        "operationId": "AccountService_ListPipelineEncryptionKeys",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "description": "ID of the account.",
            "in": "path",
            "name": "accountID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ListPipelineEncryptionKeysResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List Pipeline Encryption Key",
        "tags": [
          "Pipelines"
        ],
        "x-severity": 3
      },
      "post": {
        "description": "Creates a PGP encryption key to use in a pipeline.",
        "operationId": "AccountService_CreatePipelineEncryptionKey",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "description": "ID of the account.",
            "in": "path",
            "name": "accountID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountServiceCreatePipelineEncryptionKeyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1CreatePipelineEncryptionKeyResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Create Pipeline Encryption Key",
        "tags": [
          "Pipelines"
        ],
        "x-severity": 3,
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/accounts/{accountID}/pipelines/encryptionKeys/{ID}": {
      "delete": {
        "description": "Deletes the encryption key pair for the specified pipeline.",
        "operationId": "AccountService_DeletePipelineEncryptionKey",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "description": "ID of the account.",
            "in": "path",
            "name": "accountID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of the key.",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1DeletePipelineEncryptionKeyResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Delete Pipeline Encryption Key",
        "tags": [
          "Pipelines"
        ],
        "x-severity": 3
      },
      "get": {
        "description": "Gets the specified public encryption key.",
        "operationId": "AccountService_GetPipelineEncryptionKey",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "description": "ID of the account.",
            "in": "path",
            "name": "accountID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of the key.",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GetPipelineEncryptionKeyResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Get Pipeline Encryption Key",
        "tags": [
          "Pipelines"
        ],
        "x-severity": 3
      }
    },
    "/v1/accounts/{accountID}/pipelines/encryptionKeys/{ID}/rotate": {
      "put": {
        "description": "Rotates the encryption key pair for the specified pipeline.",
        "operationId": "AccountService_RotatePipelineEncryptionKey",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "description": "ID of the account.",
            "in": "path",
            "name": "accountID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of the key.",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountServiceRotatePipelineEncryptionKeyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1RotatePipelineEncryptionKeyResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Rotate Pipeline Encryption Key",
        "tags": [
          "Pipelines"
        ],
        "x-severity": 3,
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/accounts/{accountID}/regions": {
      "get": {
        "description": "List regions availble to an account. You can <a href='#WorkspaceService_CreateWorkspace'>create workspaces</a> in available regions.",
        "operationId": "AccountService_ListRegions",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "description": "ID of the account.",
            "in": "path",
            "name": "accountID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ListRegionsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List Regions",
        "tags": [
          "Accounts"
        ],
        "x-severity": 3
      }
    },
    "/v1/audit/events": {
      "get": {
        "description": "Lists audit events that match query parameters.",
        "operationId": "AuditService_ListAuditEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountID"
          },
          {
            "description": "ID for the audit event.",
            "in": "query",
            "name": "filterOps.context.changeID",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID for the request that caused the event.",
            "in": "query",
            "name": "filterOps.context.requestID",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID for the request set by the service that received the request.",
            "in": "query",
            "name": "filterOps.context.traceID",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID for the session in which the request was sent.",
            "in": "query",
            "name": "filterOps.context.sessionID",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Member who sent the request. Depending on `actorType`, this may be a user ID or a service account ID.",
            "in": "query",
            "name": "filterOps.context.actor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Type of member who sent the request.",
            "in": "query",
            "name": "filterOps.context.actorType",
            "schema": {
              "default": "NONE",
              "enum": [
                "NONE",
                "USER",
                "SERVICE_ACCOUNT"
              ],
              "type": "string"
            }
          },
          {
            "description": "Type of access for the request.",
            "in": "query",
            "name": "filterOps.context.accessType",
            "schema": {
              "default": "ACCESS_NONE",
              "enum": [
                "ACCESS_NONE",
                "API",
                "SQL",
                "OKTA_LOGIN"
              ],
              "type": "string"
            }
          },
          {
            "description": "IP Address of the client that made the request.",
            "in": "query",
            "name": "filterOps.context.ipAddress",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "HTTP Origin request header (including scheme, hostname, and port) of the request.",
            "in": "query",
            "name": "filterOps.context.origin",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Authentication mode the `actor` used.",
            "in": "query",
            "name": "filterOps.context.authMode",
            "schema": {
              "default": "AUTH_NONE",
              "enum": [
                "AUTH_NONE",
                "OKTA_JWT",
                "SERVICE_ACCOUNT_JWT",
                "PAT_JWT"
              ],
              "type": "string"
            }
          },
          {
            "description": "ID of the JWT token.",
            "in": "query",
            "name": "filterOps.context.jwtID",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Embedded User Context.",
            "in": "query",
            "name": "filterOps.context.bearerTokenContextID",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resources with the specified parent account ID.",
            "in": "query",
            "name": "filterOps.parentAccountID",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resources with the specified account ID.",
            "in": "query",
            "name": "filterOps.accountID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resources with the specified workspace ID.",
            "in": "query",
            "name": "filterOps.workspaceID",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resources with the specified vault ID.",
            "in": "query",
            "name": "filterOps.vaultID",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resources with a specified ID. If a resource matches at least one ID, the associated event is returned. Format is a comma-separated list of \"\\<resourceType\\>/\\<resourceID\\>\". For example, \"VAULT/12345, USER/67890\".",
            "in": "query",
            "name": "filterOps.resourceIDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Events with the specified action type.",
            "in": "query",
            "name": "filterOps.actionType",
            "schema": {
              "default": "NONE",
              "enum": [
                "NONE",
                "ASSIGN",
                "CREATE",
                "DELETE",
                "EXECUTE",
                "LIST",
                "READ",
                "UNASSIGN",
                "UPDATE",
                "VALIDATE",
                "LOGIN",
                "ROTATE",
                "SCHEDULEROTATION",
                "SCHEDULEROTATIONALERT",
                "IMPORT",
                "GETIMPORTPARAMETERS",
                "PING",
                "GETCLOUDPROVIDER"
              ],
              "type": "string"
            }
          },
          {
            "description": "Resources with the specified type.",
            "in": "query",
            "name": "filterOps.resourceType",
            "schema": {
              "default": "NONE_API",
              "enum": [
                "NONE_API",
                "ACCOUNT",
                "AUDIT",
                "BASE_DATA_TYPE",
                "FIELD_TEMPLATE",
                "FILE",
                "KEY",
                "POLICY",
                "PROTO_PARSE",
                "RECORD",
                "ROLE",
                "RULE",
                "SECRET",
                "SERVICE_ACCOUNT",
                "TOKEN",
                "USER",
                "VAULT",
                "VAULT_TEMPLATE",
                "WORKSPACE",
                "TABLE",
                "POLICY_TEMPLATE",
                "MEMBER",
                "TAG",
                "CONNECTION",
                "MIGRATION",
                "SCHEDULED_JOB",
                "JOB",
                "COLUMN_NAME",
                "NETWORK_TOKEN",
                "SUBSCRIPTION"
              ],
              "type": "string"
            }
          },
          {
            "description": "Events with associated tags. If an event matches at least one tag, the event is returned. Comma-separated list. For example, \"login, get\".",
            "in": "query",
            "name": "filterOps.tags",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "HTTP response code of the request.",
            "in": "query",
            "name": "filterOps.responseCode",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Start timestamp for the query, in SQL format.",
            "in": "query",
            "name": "filterOps.startTime",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "End timestamp for the query, in SQL format.",
            "in": "query",
            "name": "filterOps.endTime",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the API called in the request.",
            "in": "query",
            "name": "filterOps.apiName",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Response message of the request.",
            "in": "query",
            "name": "filterOps.responseMessage",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "HTTP method of the request.",
            "in": "query",
            "name": "filterOps.httpMethod",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "HTTP URI of the request.",
            "in": "query",
            "name": "filterOps.httpURI",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Fully-qualified field by which to sort results. Field names should be in camel case (for example, \"capitalization.camelCase\").",
            "in": "query",
            "name": "sortOps.sortBy",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Ascending or descending ordering of results.",
            "in": "query",
            "name": "sortOps.orderBy",
            "schema": {
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            }
          },
          {
            "description": "Timestamp provided in the previous audit response's `nextOps` attribute. An alternate way to manage response pagination. Can't be used with `sortOps` or `offset`. For the first request in a series of audit requests, leave blank.",
            "in": "query",
            "name": "afterOps.timestamp",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Change ID provided in the previous audit response's `nextOps` attribute. An alternate way to manage response pagination. Can't be used with `sortOps` or `offset`. For the first request in a series of audit requests, leave blank.",
            "in": "query",
            "name": "afterOps.changeID",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of results to return.",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 25,
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Record position at which to start returning results.",
            "in": "query",
            "name": "offset",
            "schema": {
              "default": 0,
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1AuditResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List Audit Events",
        "tags": [
          "Audit"
        ],
        "x-severity": 2
      }
    },
    "/v1/auth/sa/oauth/token": {
      "post": {
        "description": "<p>Generates a Bearer Token to authenticate with Skyflow. This method doesn't require the <code>Authorization</code> header.</p><p><b>Note:</b> For recommended ways to authenticate, see <a href='/api-authentication/'>API authentication</a>.</p>",
        "operationId": "AuthenticationService_GetAuthToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1GetAuthTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GetAuthTokenResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "details": [],
                      "grpc_code": 3,
                      "http_code": 400,
                      "http_status": "Bad Request",
                      "message": "Scopes in request token in wrong format"
                    }
                  },
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Invalid scope format."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "details": [],
                      "grpc_code": 16,
                      "http_code": 401,
                      "http_status": "Unauthorized",
                      "message": "Error: Key expired, consider rotating."
                    }
                  },
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Key expired or JWT token unparseable."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Get Bearer Token",
        "tags": [
          "Authentication"
        ],
        "x-severity": 1,
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/auth/sts/token": {
      "post": {
        "description": "<p>Generates a Bearer Token to authenticate with Skyflow. This method doesn't require the <code>Authorization</code> header.</p>",
        "operationId": "AuthenticationService_GetSTSToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1GetSTSTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GetSTSTokenResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "details": [],
                      "grpc_code": 3,
                      "http_code": 400,
                      "http_status": "Bad Request",
                      "message": "Scopes in request token in wrong format"
                    }
                  },
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Invalid scope format."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "error": {
                      "details": [],
                      "grpc_code": 16,
                      "http_code": 401,
                      "http_status": "Unauthorized",
                      "message": "Error: Key expired, consider rotating."
                    }
                  },
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Key expired or JWT token unparseable."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Get STS Token",
        "tags": [
          "Token Exchange"
        ],
        "x-severity": 1,
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/sts/config": {
      "get": {
        "description": "Lists STS configurations for given account",
        "operationId": "TokenExchangeService_ListSTSConfigs",
        "parameters": [
          {
            "description": "position at which to start returning results.",
            "in": "query",
            "name": "offset",
            "schema": {
              "default": "0",
              "format": "int64",
              "type": "string"
            }
          },
          {
            "description": "Number of results to return.",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": "25",
              "format": "int64",
              "type": "string"
            }
          },
          {
            "description": "Filter that limits results to those that match the specified name.",
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of the account.",
            "in": "query",
            "name": "accountID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ListSTSConfigResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List STS Configs",
        "tags": [
          "Token Exchange"
        ],
        "x-severity": 3
      },
      "post": {
        "description": "Creates a new STS configuration",
        "operationId": "TokenExchangeService_CreateSTSConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1CreateSTSConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1CreateSTSConfigResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Create STS Config",
        "tags": [
          "Token Exchange"
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/sts/config/{ID}": {
      "delete": {
        "description": "Deletes an STS configuration",
        "operationId": "TokenExchangeService_DeleteSTSConfig",
        "parameters": [
          {
            "description": "ID of the STS config to delete",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1DeleteSTSConfigResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Delete STS Config",
        "tags": [
          "Token Exchange"
        ]
      },
      "get": {
        "description": "Fetches an STS configuration by ID",
        "operationId": "TokenExchangeService_GetSTSConfig",
        "parameters": [
          {
            "description": "ID of the STS config to retrieve",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1STSConfig"
                }
              }
            },
            "description": "A successful response."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Get STS Config",
        "tags": [
          "Token Exchange"
        ]
      },
      "post": {
        "description": "Updates an existing STS configuration",
        "operationId": "TokenExchangeService_UpdateSTSConfig",
        "parameters": [
          {
            "description": "ID of the STS config to update",
            "in": "path",
            "name": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenExchangeServiceUpdateSTSConfigBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1STSConfig"
                }
              }
            },
            "description": "A successful response."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Update STS Config",
        "tags": [
          "Token Exchange"
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/base-data-types": {
      "get": {
        "description": "Lists the base data types supported in vault schema.",
        "operationId": "list-base-data-types",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBaseDataTypesResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List Base Data Types",
        "tags": [
          "Data Types"
        ],
        "x-severity": 3,
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-fern-audiences": [
          "external"
        ]
      }
    },
    "/v1/cloudProviders": {
      "get": {
        "description": "Gets details of cloud providers for key management workflows.",
        "operationId": "get-cloud-provider-details",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "query",
            "description": "ID of the workspace.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCloudProviderDetailsResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Get Cloud Provider Details",
        "tags": [
          "Key Management"
        ],
        "x-enable": "cloudProviders",
        "x-severity": 3,
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-external-query-parameters": [
          "workspaceID"
        ],
        "x-required-query-parameters": [
          "workspaceID"
        ],
        "x-fern-audiences": [
          "external"
        ]
      }
    },
    "/v1/detect/configurations": {
      "post": {
        "summary": "Create Detect Configuration",
        "description": "Create a new configuration to manage tokenization, transformations, regex filters, entity-to-column mappings, and more.",
        "operationId": "create_detect_configuration",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Detect Configurations"
        ],
        "x-severity": 2,
        "x-permission": "detect.invoker",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/detect_configuration"
              },
              "examples": {
                "Create": {
                  "$ref": "#/components/examples/create_detect_configuration_example"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful create response.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/x-request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create_detect_configuration_response"
                },
                "examples": {
                  "Create": {
                    "$ref": "#/components/examples/create_detect_configuration_response_example"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "get": {
        "summary": "List Detect Configurations",
        "description": "Retrieve all available Detect configurations.",
        "operationId": "list_detect_configurations",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Detect Configurations"
        ],
        "x-severity": 2,
        "x-permission": "detect.invoker",
        "parameters": [
          {
            "name": "vault_id",
            "in": "query",
            "description": "ID of the vault for which to retrieve configurations.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f4b3b3b33b3b3b3b3b3b3b3b3b3b3b3b"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response listing detect configurations.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/x-request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/list_detect_configurations_response"
                },
                "examples": {
                  "List": {
                    "$ref": "#/components/examples/list_configurations_response_example"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/detect/configurations/{configuration_id}": {
      "get": {
        "summary": "Get Detect Configuration",
        "description": "Retrieve a configuration by its unique identifier.",
        "operationId": "get_detect_configuration",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Detect Configurations"
        ],
        "x-severity": 2,
        "x-permission": "detect.invoker",
        "parameters": [
          {
            "name": "configuration_id",
            "in": "path",
            "description": "Unique ID of the configuration.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f4b3b3b33b3b3b3b3b3b3b3b3b3b3b3b"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful read response.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/x-request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_detect_configuration_response"
                },
                "examples": {
                  "Get": {
                    "$ref": "#/components/examples/get_detect_configuration_response"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "put": {
        "summary": "Update Detect Configuration",
        "description": "Update an existing Detect configuration. Fields omitted in the request body are removed from the configuration.",
        "operationId": "update_detect_configuration",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Detect Configurations"
        ],
        "x-severity": 2,
        "x-permission": "detect.invoker",
        "parameters": [
          {
            "name": "configuration_id",
            "in": "path",
            "description": "Unique ID of the configuration.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f4b3b3b33b3b3b3b3b3b3b3b3b3b3b3b"
          }
        ],
        "requestBody": {
          "description": "Fields omitted in the request body are removed from the configuration.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/detect_configuration"
              },
              "examples": {
                "Update": {
                  "$ref": "#/components/examples/update_detect_configuration_request"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful update response. Returns an empty object.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/x-request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/detect_configuration"
                },
                "examples": {
                  "Update": {
                    "$ref": "#/components/examples/update_detect_configuration_response"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "summary": "Delete Detect Configuration",
        "description": "Delete a configuration",
        "operationId": "delete_detect_configuration",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Detect Configurations"
        ],
        "x-severity": 2,
        "x-permission": "detect.invoker",
        "parameters": [
          {
            "name": "configuration_id",
            "in": "path",
            "description": "Unique ID of the configuration.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f4b3b3b33b3b3b3b3b3b3b3b3b3b3b3b"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful delete response. Returns an empty object.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/x-request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "Delete": {
                    "$ref": "#/components/examples/delete_detect_configuration_response"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/field-templates": {
      "get": {
        "description": "Returns availble Skyflow Data Types.",
        "operationId": "list-skyflow-data-types",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFieldTemplatesResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List Skyflow Data Types",
        "tags": [
          "Data Types"
        ],
        "x-severity": 3,
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-fern-audiences": [
          "external"
        ]
      }
    },
    "/v1/field-templates/{ID}": {
      "get": {
        "description": "Returns the specified Skyflow Data Type.",
        "operationId": "get-skyflow-data-type",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFieldTemplateResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Get Skyflow Data Type",
        "tags": [
          "Data Types"
        ],
        "x-severity": 3,
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-fern-audiences": [
          "external"
        ]
      }
    },
    "/v1/functionConfig": {
      "get": {
        "description": "Returns the specified function configuration.",
        "operationId": "get-function-config",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFunctionConfigResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist.",
            "$ref": "#/components/responses/404"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response.",
            "$ref": "#/components/responses/500"
          }
        },
        "summary": "Get Function Config",
        "tags": [
          "Functions"
        ],
        "x-severity": 3,
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-fern-audiences": [
          "external"
        ]
      }
    },
    "/v1/functionDeployments": {
      "get": {
        "description": "Returns all function deployments in the account.",
        "operationId": "list-function-deployments",
        "parameters": [
          {
            "name": "sortOps.sortBy",
            "in": "query",
            "description": "Fully-qualified field by which to sort results. Field names should be in camel case (for example, \"capitalization.camelCase\").",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOps.orderBy",
            "in": "query",
            "description": "Ascending or descending ordering of results.",
            "schema": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "format": "enum"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Record position at which to start receiving results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "functionID",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "functionEnvironmentID",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionTag",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFunctionDeploymentResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist.",
            "$ref": "#/components/responses/404"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response.",
            "$ref": "#/components/responses/500"
          }
        },
        "summary": "List Function Deployments",
        "tags": [
          "Functions"
        ],
        "x-severity": 3,
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-external-query-parameters": [
          "offset",
          "limit",
          "functionID",
          "functionEnvironmentID",
          "versionTag",
          "sortOps.sortBy",
          "sortOps.orderBy"
        ],
        "x-fern-audiences": [
          "external"
        ]
      },
      "post": {
        "description": "Creates a new deployment.",
        "operationId": "create-function-deployment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFunctionDeploymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFunctionDeploymentResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist.",
            "$ref": "#/components/responses/404"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response.",
            "$ref": "#/components/responses/500"
          }
        },
        "summary": "Create Function Deployment",
        "tags": [
          "Functions"
        ],
        "x-severity": 3,
        "x-codegen-request-body-name": "body",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-fern-audiences": [
          "external"
        ]
      }
    },
    "/v1/functionDeployments/{ID}": {
      "delete": {
        "description": "Deletes the specified function deployment.",
        "operationId": "delete-function-deployment",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFunctionDeploymentResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist.",
            "$ref": "#/components/responses/404"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response.",
            "$ref": "#/components/responses/500"
          }
        },
        "summary": "Delete Function Deployment",
        "tags": [
          "Functions"
        ],
        "x-severity": 3,
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-fern-audiences": [
          "external"
        ]
      },
      "get": {
        "description": "Returns the specified function deployment.",
        "operationId": "get-function-deployment",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verbose",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFunctionDeploymentResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist.",
            "$ref": "#/components/responses/404"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response.",
            "$ref": "#/components/responses/500"
          }
        },
        "summary": "Get Function Deployment",
        "tags": [
          "Functions"
        ],
        "x-severity": 3,
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-external-query-parameters": [
          "verbose"
        ],
        "x-fern-audiences": [
          "external"
        ]
      },
      "post": {
        "description": "Updates the specified function deployment.",
        "operationId": "update-function-deployment",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFunctionDeploymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateFunctionDeploymentResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist.",
            "$ref": "#/components/responses/404"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response.",
            "$ref": "#/components/responses/500"
          }
        },
        "summary": "Update Function Deployment",
        "tags": [
          "Functions"
        ],
        "x-severity": 3,
        "x-codegen-request-body-name": "body",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-fern-audiences": [
          "external"
        ]
      }
    },
    "/v1/functionDeployments/{ID}/logs": {
      "get": {
        "description": "Return function deployment logs.",
        "operationId": "get-function-deployment-logs",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "methodName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFunctionDeploymentLogsResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist.",
            "$ref": "#/components/responses/404"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response.",
            "$ref": "#/components/responses/500"
          }
        },
        "summary": "Get Deployment Logs",
        "tags": [
          "Functions"
        ],
        "x-severity": 3,
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-external-query-parameters": [
          "methodName",
          "startTime",
          "filter"
        ],
        "x-fern-audiences": [
          "external"
        ]
      }
    },
    "/v1/functionEnvironments": {
      "get": {
        "description": "Returns all function environments in the account.",
        "operationId": "list-function-environments",
        "parameters": [
          {
            "name": "sortOps.sortBy",
            "in": "query",
            "description": "Fully-qualified field by which to sort results. Field names should be in camel case (for example, \"capitalization.camelCase\").",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOps.orderBy",
            "in": "query",
            "description": "Ascending or descending ordering of results.",
            "schema": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "format": "enum"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Record position at which to start receiving results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterOps.isDefault",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFunctionEnvironmentResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist.",
            "$ref": "#/components/responses/404"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response.",
            "$ref": "#/components/responses/500"
          }
        },
        "summary": "List Function Environments",
        "tags": [
          "Functions"
        ],
        "x-severity": 3,
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-external-query-parameters": [
          "offset",
          "limit",
          "filterOps.isDefault",
          "sortOps.sortBy",
          "sortOps.orderBy"
        ],
        "x-fern-audiences": [
          "external"
        ]
      },
      "post": {
        "description": "Creates a new environment.",
        "operationId": "create-function-environment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFunctionEnvironmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFunctionEnvironmentResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist.",
            "$ref": "#/components/responses/404"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response.",
            "$ref": "#/components/responses/500"
          }
        },
        "summary": "Create Function Environment",
        "tags": [
          "Functions"
        ],
        "x-severity": 3,
        "x-codegen-request-body-name": "body",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-fern-audiences": [
          "external"
        ]
      }
    },
    "/v1/functionEnvironments/{ID}": {
      "delete": {
        "description": "Deletes the specified function environment.",
        "operationId": "delete-function-environment",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFunctionEnvironmentResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist.",
            "$ref": "#/components/responses/404"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response.",
            "$ref": "#/components/responses/500"
          }
        },
        "summary": "Delete Function Environment",
        "tags": [
          "Functions"
        ],
        "x-severity": 3,
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-fern-audiences": [
          "external"
        ]
      },
      "get": {
        "description": "Returns the specified function environment.",
        "operationId": "get-function-environment",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFunctionEnvironmentResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist.",
            "$ref": "#/components/responses/404"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response.",
            "$ref": "#/components/responses/500"
          }
        },
        "summary": "Get Function Environment",
        "tags": [
          "Functions"
        ],
        "x-severity": 3,
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-fern-audiences": [
          "external"
        ]
      },
      "post": {
        "description": "Updates the specified function environment.",
        "operationId": "update-function-environment",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFunctionEnvironmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateFunctionEnvironmentResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist.",
            "$ref": "#/components/responses/404"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response.",
            "$ref": "#/components/responses/500"
          }
        },
        "summary": "Update Function Environment",
        "tags": [
          "Functions"
        ],
        "x-severity": 3,
        "x-codegen-request-body-name": "body",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-fern-audiences": [
          "external"
        ]
      }
    },
    "/v1/functionEnvironments/{ID}/variable": {
      "delete": {
        "description": "Deletes the specified function environment variable.",
        "operationId": "delete-function-environment-variable",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteFunctionEnvironmentVariableRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFunctionEnvironmentVariableResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist.",
            "$ref": "#/components/responses/404"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response.",
            "$ref": "#/components/responses/500"
          }
        },
        "summary": "Delete Function Environment Variable",
        "tags": [
          "Functions"
        ],
        "x-severity": 3,
        "x-codegen-request-body-name": "body",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-fern-audiences": [
          "external"
        ]
      },
      "post": {
        "description": "Updates the specified function environment variable.",
        "operationId": "update-function-environment-variable",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFunctionEnvironmentVariableRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateFunctionEnvironmentVariableResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist.",
            "$ref": "#/components/responses/404"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response.",
            "$ref": "#/components/responses/500"
          }
        },
        "summary": "Update Function Environment Variable",
        "tags": [
          "Functions"
        ],
        "x-severity": 3,
        "x-codegen-request-body-name": "body",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-fern-audiences": [
          "external"
        ]
      }
    },
    "/v1/functionTags": {
      "get": {
        "description": "Returns all function tags for all accounts.",
        "operationId": "list-all-function-tags",
        "parameters": [
          {
            "name": "filterOps.status",
            "in": "query",
            "description": "Filter that returns only results that match the specified tag status.",
            "schema": {
              "enum": [
                "NONE",
                "CREATED",
                "PENDING",
                "ACTIVE",
                "INACTIVE",
                "ARCHIVED",
                "DELETED"
              ],
              "type": "string",
              "format": "enum"
            }
          },
          {
            "name": "filterOps.functionID",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterOps.accountID",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOps.sortBy",
            "in": "query",
            "description": "Fully-qualified field by which to sort results. Field names should be in camel case (for example, \"capitalization.camelCase\").",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOps.orderBy",
            "in": "query",
            "description": "Ascending or descending ordering of results.",
            "schema": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "format": "enum"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "daysToRetrieve",
            "in": "query",
            "description": "daysToRetrieve in days for which for which we want to fetch function tags.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAllFunctionTagsResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
                "$ref": "#/components/headers/x-request-id"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "object",
                  "type": "object"
                }
              }
            },
            "description": "Returned when the resource does not exist.",
            "$ref": "#/components/responses/404"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            },
            "description": "An unexpected error response.",
            "$ref": "#/components/responses/500"
          }
        },
        "summary": "List All Function Tags",
        "tags": [
          "Functions"
        ],
        "x-severity": 3,
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-external-query-parameters": [
          "daysToRetrieve",
          "filterOps.accountID",
          "filterOps.functionID",
          "filterOps.status",
          "limit",
          "offset",
          "sortOps.orderBy",
          "sortOps.sortBy"
        ],
        "x-fern-audiences": [
          "external"
        ]
      },
      "post": {
        "description": "Updates the specified function tag.",
        "operationId": "update-function-tag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFunctionTagRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateFunctionTagResponse"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-Request-ID": {
[...]
